@font-face {
    font-family: 'RazerF5';
    src: url('RazerF5Bold.woff2') format('woff2'),
        url('RazerF5Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

